[submodule "georga-server-django"]
	path = server
	url = git@github.com:georga-app/georga-server-django.git
	branch = main
[submodule "georga-client-react"]
	path = client-react
	url = git@github.com:georga-app/georga-client-react.git
	branch = main
